.content__cards {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2.5em;

  
  @media (min-width: 1430px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1430px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (max-width: 1138px) {
    grid-template-columns: 1fr 1fr;
  }

  @include sm {
    grid-template-columns: 1fr;
  }

  @media (max-width: 365px) {
    display: block;
  }
}