.catigories__list {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    display: flex;

    width: auto;
    height: 46px;
    padding: 0 30px;
    margin-right: 10px;

    box-sizing: border-box;
    border: 0px;
    border-radius: 30px;

    justify-content: center;
    align-items: center;

    list-style: none;
    background-color: #F9F9F9;
    cursor: pointer;
    font: 700 16px 'Proxima Nova';
  }
}