.sort {
  position: relative;

  @media (max-width: 768px) {
    margin: 30px auto;
  }

  img {
    transform: rotate(180deg);
    margin-right: 7px;

    &.opened {
      transform: rotate(0deg);
    }
  }

  span {
    margin-left: 8px;

    cursor: pointer;
    color: $orange;
    // text-decoration: underline dotted;
    border-bottom: 1px dashed $orange;
  }
}