.filters {
  display: flex;
  margin: 40px 0;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .catigories {
    flex: 1;
    max-width: 80%;
    overflow: auto;

    @media (max-width: 768px) {
      max-width: 100%;
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        display: flex;

        width: auto;
        height: 46px;
        padding: 0 30px;
        margin-right: 10px;

        box-sizing: border-box;
        border: 0px;
        border-radius: 30px;

        justify-content: center;
        align-items: center;

        list-style: none;
        background-color: #F9F9F9;
        cursor: pointer;
        font: 700 16px 'Proxima Nova';

        &.active {
          color: #fff;
          background-color: #282828;
        }
      }
    }
  }
}