.filters__categories {
  display: flex;
  margin: 0;
  padding: 0;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  li {
    display: flex;
    width: auto;
    height: 46px;
    padding: 0 30px;
    margin-right: 10px;

    justify-content: center;
    align-items: center;

    list-style: none;
    box-sizing: border-box;
    border: 0px;
    border-radius: 30px;
    background-color: #f9f9f9;
    cursor: pointer;
    font: 700 16px 'Proxima Nova';
  }

  .active {
    color: #fff;
    background-color: #282828 !important;
  }
}
