.filters__popup {
  position: absolute;
  margin-top: 15px;
  padding: 10px 0px;
  right: 0;

  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 10%);

  li {
    padding: 12px 20px;
    cursor: pointer;
  }
  
  .active {
    font-weight: 700;
    color: $orange;
    background-color: rgba(254, 95, 30, 0.05);
  }
}