.item__name-info {
  display: flex;
  flex-direction: column;
  
  margin-left: 20px;
  margin-right: 20px;
  
  align-items: flex-start;
  justify-content: center;
  
  
  grid-area: name-info;

  @include sm {
    margin: 0;

  }
}