.empty-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 0;

  justify-content: center;
  align-items: center;

  @include sm {
    padding: 30px 20px;
  }

  @include xs {
    padding: 10vw 10vw;
  }
}