$black: #232323;
$dark: #282828;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$leed: #7b7b7b;

$container-width: 90%;

$duration: 0.15s;


$max-width-xs: 500px;
$max-width-sm: 768px;
$max-width-md: 992px;
$max-width-lg: 1200px;
$max-width-xl: 1440px;