@import './fonts';
@import './variables';
@import './mixins';
@import './libs/normalize';
@import './blocks/all';

body {
  background-color: $background;

  @include sm {
    padding: 20px 0;
  }
}

.App {
  width: calc(100vw - 100px);
  max-width: 1400px;
  margin: 40px auto;

  @include sm {
    width: calc(100vw - 50px);
    margin: 20px auto;
  }

  background-color: #fff;
  border-radius: 10px;
}
