@import './fonts';
@import './variables';

@import './libs/normalize';

@import './components/all';

body {
  background-color: $background;

  @media (max-width: 768px) {
    padding: 20px 0;
  }

  .App {
    width: calc(100vw - 100px);
    max-width: 1400px;
    margin: 40px auto;

    @media(max-width: 768px) {
      width: calc(100vw - 50px);
      margin: 20px auto;
    }

    background-color: #fff;
    border-radius: 10px;
  }
}