.card__content {
  width: 100%;
  padding: 6px;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 600;

  border-radius: 10px;
  background-color: #F3F3F3;

  @media (max-width: 340px) {
    
  }
}