.card__add {

  &::before { // небольшое нарушение бэм
    // модификация стиля btn--positiv
    margin-right: 0.7vw;
    
    position: relative;
    top: 0.5px;

    font-size: 25px;
    font-weight: 900;
  }

  @media (max-width: 365px) {
    font-size: 5vw;
    padding: 2vw 4vw;
  }
}